html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.container {
  width: 80%;
  min-height: 100vh;
  background-color: rgba(231, 234, 249, 0.88);
}

.page-header {
  border-color: #adb3ce;
}

.page-header h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 1.2rem;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.54);
  border-color: #adb3ce;
}

#doctor-search {
  width: 80%;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5em;
}

#doctor-search .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #838fc5;
  border-color: #7182c5;
  color: #dee2f4;
}

#doctor-search .btn:hover {
  background-color: #59659c;
  border-color: #41508a;
  color: #bec8f3;
}

#results {
  border-top: 1px solid #adb3ce;
}

#results h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: .5em;
}

#results > div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

#results > div h2 {
  font-size: 28px;
  border-bottom: 1px solid #adb3ce;
  border-top: 1px solid #adb3ce;
  padding: .4em 0px;
}

#results > div h4 {
  font-size: 20px;
  font-weight: bold;
}

#results > div h5 {
  font-size: 16px;
  font-weight: bold;
}

#results > div ul {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#results > div ul li {
  display: block;
  padding-right: 1em;
  padding-left: 1em;
  border-right: 1px solid #adb3ce;
  border-left: 1px solid #adb3ce;
  margin-bottom: 1.3em;
}

.address p, .phone p, .website p {
  margin-left: 1em;
  margin-bottom: 3px;
}

.accepting {
  color: green;
}

.notaccepting {
  color: #a71717;
}

.no-site {
  color: #676767;
}

@media screen and (max-width: 625px) {

  .container {
    width: 90%;
  }

  .page-header h1 {
    font-size: 2.3em;
  }
}
